@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
	--happy: #21e251;
	--sad: #ec4545;
	--idle: #4545f0;
}

* {
	padding: 0;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
	font-family: 'Poetsen One', Arial;
	transition-duration: 0.3s;
}

body {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: url('back.jpg') center no-repeat;
	background-size: cover;
}

.happy {
	color: var(--happy);
}

.sad {
	color: var(--sad);
}

.happy-trans td {
	background-color: var(--happy);
}

.sad-trans td {
	background-color: var(--sad);
}

.idle {
	color: var(--idle);
}
