@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Poetsen One", Arial;
  transition-duration: 0.3s;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("back.jpg") center no-repeat;
  background-size: cover;
}

.happy {
  color: rgb(33, 226, 81);
}

.sad {
  color: rgb(236, 69, 69);
}

.idle {
  color: rgb(69, 69, 240);
}
